<table>
  <colgroup>
    <col #col>
    <ng-container *ngFor="let colIndex of createRange(formattedGridData.columnsCount)">
      <col #col>
    </ng-container>

  </colgroup>
  <tr cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropColumn($event)">
    <th>*</th>
    <th (click)="highlightColumn(colIndex + 1)" cdkDrag
      *ngFor="let colIndex of createRange(formattedGridData.columnsCount)" [contextMenu]="columnMenu"
      [contextMenuSubject]="colIndex">
      <div>{{colIndex+1}}</div>
    </th>
  </tr>
  <tbody>
    <tr cdkDropList cdkDropListOrientation="vertical" *ngFor="let rowIndex of createRange(formattedGridData.rowsCount)"
      (cdkDropListDropped)="dropRow($event)">
      <td cdkDrag [contextMenu]="rowMenu" [contextMenuSubject]="rowIndex">{{rowIndex + 1}}</td>
      <td *ngFor="let colIndex of createRange(formattedGridData.columnsCount)">
        <!-- <app-grid-cell [cellValue]="getCellData(rowIndex, colIndex)" [rowIndex]="rowIndex" [colIndex]="colIndex"
          (cellValueChange)="cellValueChanged($event)">
        </app-grid-cell> -->
        <app-inline-edit [cellValue]="getCellData(rowIndex, colIndex)" type="text"
          (cellValueChange)="cellValueChanged($event,rowIndex, colIndex)"> </app-inline-edit>
      </td>
    </tr>
  </tbody>
</table>
<context-menu #columnMenu>
  <ng-template contextMenuItem (execute)="onContextMenuClick($event,'InsertColumnLeft')">
    <div>Insert Column Left</div>
  </ng-template>
  <ng-template contextMenuItem (execute)="onContextMenuClick($event,'InsertColumnRight')">
    <div>Insert Column Right</div>
  </ng-template>
  <ng-template contextMenuItem (execute)="onContextMenuClick($event,'DeleteColumn')">
    <div>Delete Column</div>
  </ng-template>
</context-menu>
<context-menu #rowMenu>
  <ng-template contextMenuItem (execute)="onContextMenuClick($event,'InsertRowAbove')">
    <div>Insert Row Above</div>
  </ng-template>
  <ng-template contextMenuItem (execute)="onContextMenuClick($event,'InsertRowBelow')">
    <div>Insert Row Below</div>
  </ng-template>
  <ng-template contextMenuItem (execute)="onContextMenuClick($event,'DeleteRow')">
    <div>Delete Row</div>
  </ng-template>
</context-menu>